@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    background: blue;
    padding: 15px 0;
    margin-bottom: 20px;
    text-align: center;
}
header > img{
    height: 50px;
}
header > h1{
    display: inline-block;
    color: white ;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0 ;
}
section > label{
    font-size: 3vmax;
    line-height: 3vmax;
    
}
.clear-sky{
    background: rgb(255,255,255);
    background: linear-gradient(195deg, rgb(110 239 246) 26%, rgba(186,243,255,1) 41%, rgba(129,234,255,1) 50%, rgba(0,212,255,1) 100%);
    box-shadow: 0 0 20px 1px rgb(129 234 255 / 70%);
}
.few-clouds{
    background: rgb(167, 160, 160);
}
.scattered-clouds{
    background: rgb(255,255,255);
     background: linear-gradient(90deg, rgba(255,255,255,1) 26%, rgba(186,243,255,1) 38%, rgba(129,234,255,1) 53%, rgba(117,166,176,1) 72%, rgba(87,87,87,1) 100%);

}
.broken-clouds{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 26%, rgba(186,243,255,1) 38%, rgba(129,234,255,1) 53%, rgba(117,166,176,1) 72%, rgba(87,87,87,1) 100%);
}
.shower-rain{
    background: rgb(53, 57, 108);
}
.rain{
    background: rgb(40, 104, 141);
}
.thunderstorm{
    background: rgb(199, 196, 19);
}
.snow{
    background: rgb(241, 242, 238);
}
.mist{
    background: rgb(91, 3, 82);
}
.cities{
    width: 250px;
    height: 35px;
    padding-left: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}
.cards-wrapper{
    flex-wrap: wrap;
    justify-content: center;

}
.cards-wrapper > div {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    position: relative;
}
.icon{
    max-width: 200%;
    padding-right: 20px;
    align-self: center;
}
.weather-info{
    display: flex;
    flex-direction: column;
    padding: 2vh 0 2vh  2vh;
}
.weather-info > h2{
    font-size: 4vmax;
}
.weather-info > h3{
    font-size: 3vmax;
}
.weather-info > p {
    font-size: 2vmax;
}


.btn-grad {background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
